<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>

    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/bootstrap.js" defer></script>
</head>
<body>
    {{> header}}

    <h1>{{pageTitle}}</h1>
    {{#if pageAuthor}}
        <p class="{{pageClass}}">{{pageAuthor}}</p>
    {{else}}
    <p>Autor nije proslijedjen</p>
    {{/if}}

    <ul>
        {{#each pagePeople}}
            <li>{{this.name}} &euro; {{this.surname}}</li>
        {{/each}}
    </ul>
    {{> footer}}
</body>
</html>